body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: lightgrey;
}
ul {
    list-style-type : none;
    text-decoration: none;

}

.post-card {
    border: 1px;
    padding-right: 10px;
}

.no-text-decor {
    text-decoration: none;
    color: #000000;
   }
.no-text-decor:hover {
    text-decoration: none;
    color: #000000;
   }

.footer {
    background-color: #c7c7c7;
}

.footer-auth {
    padding-right: 20px;
    color: #000000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
