﻿@{
    ViewData["Title"] = "Lewis's List";
}

<div class="jumbotron text-center">
    <h1>Lewis's List</h1>
    <p>A list of things...</p>
    <br />
    <p>
        <a class="btn btn-success" href="/Post">Browse</a>
        @Html.Partial("_LoginPartial")
    </p>
</div>